doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/dataTables.bootstrap.css")

    style.
      .collapsed {
        display : none;
      }
      .clickable {
        cursor : pointer ;
      }


    script(script type="text/javascript" src="/javascripts/jquery-2.2.0.js")
    script( type="text/javascript" src="/javascripts/bootstrap.js")
    script( type="text/javascript" src="/javascripts/jquery.dataTables.js")
    script( type="text/javascript" src="/javascripts/dataTables.bootstrap.js")


  body
    block content
